@media screen and ( min-width: 1201px ) {
	.listSection__wraper{
		width: calc(100% - 100px);
		padding: 25px 50px 0;
	}
}

@media screen and ( max-width: 1200px ) {
	.listSection__wraper{
		width: calc(100% - 50px);
		padding: 25px 25px 0;
	}
}

.list {
  display: flex;
  flex-direction: column;
  margin: 70px auto 30px;
  flex-wrap: wrap;
}

.cardSlider__list {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
}


/****針對airbnb套件新增***/
/*
.ant-input {
	height: 35px !important;
	padding: 0 !important;
	font-size: 16px !important;
	border: #008fd2 1px solid !important;
}

.ant-input:hover {
	background: #f2f2f2;
}

.ant-calendar-range-picker-input {
	color: #008fd2 !important;
}

.ant-calendar-range-picker-separator {
	line-height: 31px !important;
} */
