.done{
	padding: 50px 0;
	background: #f2f2f2;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.doneBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 150px 50px;
	background: #fff;
	border-radius: 5px;
	width: calc( 100% - 150px );
	max-width: 1360px;
	min-height: 300px;
}

.doneBox p {
	max-width: 780px;
	line-height: 35px;
}

.doneBTNarea {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.doneBTN {
	padding: 0 35px;
	margin:0 15px;
	height: 55px;
	line-height: 55px;
	border-radius: 5px;
	border: 0;
	background: #008FD2;
	color: #fff;
	font-size: 16px;
}

.doneBTN a {
	color: #fff;
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
}
