.searchSection {
  display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 125px 0;
	background: url('../../assets/img/homeSearchBg.jpg') center no-repeat;
	background-size: cover;
}

.searchSection__title {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  color: #fff;
  margin-bottom: 50px;
}

.hotSells {
  padding: 50px 11px;
}

.hotSells_title {
  padding-left: 41px;
}
