.searchSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: url('../../assets/img/homeSearchBg.jpg') no-repeat;
  background-size: cover;
  padding: 130px 52px 64px 52px;
}
.title {
  display: flex;
  flex-direction: column;
}
.title > div {
  align-self: center;
}
.title--size-1 {
  font-size: 72px;
  font-weight: 600;
  letter-spacing: 1.4px;
  color: #ffffff;
}
.title--size-2 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: #ffffff;
}
.title--size-3 {
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #ffffff;
}
