.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 25px;
	background: #fff;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
	z-index: 999999999;
}

.header .header__logo img {
	height: 35px;
}

.header .header__logo {
	display: flex;
}

.mainMenu {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 0px;
}

.mainMenu li {
	list-style-type: none;
	padding: 5px 10px;
	margin-left: 25px;
	border: rgba(0,0,0,0) 1px solid;
}

.mainMenu li a {
	display: block;
	color: #333;
	text-decoration: none;
	transition: .3s;
}

.mainMenu li:hover a {
	color: #008fd2;
}

.mainMenu li.active {
	border: #008fd2 1px solid;
	border-radius: 3px;
}
.mainMenu li.active a {
	color: #008fd2;
}
